<!DOCTYPE html>
<html>
<head>
	<title>About Page</title>
	<link rel="icon" href="/img/weather_icons_color-14-512.png">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="main-content">
		{{> header}}
		<p>This site was created in <strong>Node.js</strong> and <strong>Express.js</strong>.
		<h3>Here's a logo of node</h3>
		<img class="portrait" src="/img/nodejs-new-pantone-black.png">
	</div>

	
	{{> footer}}
</body>
</html>