<!DOCTYPE html>
<html>
<head>
	<title>Help page</title>
	<link rel="icon" href="/img/weather_icons_color-14-512.png">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="main-content">
		{{> header}}
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga deserunt dolore ratione fugiat laborum optio quisquam vitae ex nisi voluptatem dolor voluptatibus, atque ut sint harum alias, unde magni. Rem!</p>
		<p>Hello to my classmates in MSIT 5180. If you're seeing this that means my Jenkins tech task worked.</p>
		<p>Hello from GitHub WebHooks!</p>
	</div>
	
	{{> footer}}
</body>
</html>